body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


nav ul li {
  display: inline-block;
  margin-right: 10px;
}


nav ul li a {
  color: #f3f0f0;
  text-decoration: none;
  padding: 10px;
}

#hero {
  background-image: url("new\ back.jpg");
  background-size: cover;
  background-position: right;
  text-align: center;
  text-size-adjust: 30;
  padding: 10px 20px;
  color: #000000;

}

.hero-content {
  max-width: 60000px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  perspective: 1000px;
}

.box {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 40px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(30deg);
  transition: transform 0.5s;
}

.box:hover {
  transform: rotateX(0) rotateY(0);
}

.box h2 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3791d1;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #e37215;
}

.btn-secondary {
  background-color: #2ecc71;
}

.btn-tertiary {
  background-color: #f39c12;
}

.btn:hover {
  background-color: darken(currentColor, 15%);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* Media query for smaller screens */
@media (max-width: 768px){}